<div class="field">
  <%= f.label :name %>
  <%=  f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, autofus: true, autocomplete: "description", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :address %>
  <%=  f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :paid %>
  <span class = "radio-text">Yes</span>
  <span class="custom-radio"><%= radio_button("event", "paid", "true") %></span>
  <span class="radio-text">No</span>
  <span class="custom-radio"><%= radio_button("event", "paid", "false") %></span>
</div>

<div id="field">
  <%= f.label :image, id: "image-label" %>
  <%= f.file_field :image %>
</div><br/>

<div class="field event-time">
  <%= f.label :start_time %>
  <%= datetime_select :event, :start_time %>
</div>

<div class="field event-time">
  <%= f.label :end_time %>
  <%= datetime_select :event, :end_time %>
</div>