<div id="single-event-page">
  <div id="event-card">
    <div class="card">
      <div id="event-image">
        <%= image_tag event_image(@event), alt: @event.name, class: "card-img-top" %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @event.name %></h5>
        <p class="card-text" id="description"><%= @event.description %></p>
        <p class="card-text event-times">
          <span class="category-header">Starts at: </span>
          <span class="time-value"><%= @event.start_time.strftime("%F %R") %></span>
        </p>
        <p class="card-text event-times">
          <span class="category-header">Ends at: </span>
          <span class="time-value"><%= @event.end_time.strftime("%F %R") %></span>
        </p>

        <p class="card-text">
          <span class="category-header">Paid: </span>
          <span><%= paid_event(@event) %></span>
        </p>

        <div class="button-group">
          <% if owned_by_user?(@event) %>
            <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary" %>
            <%= link_to "Delete Event", event_path(@event), method: :delete, class: "btn", id: "delete-event" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>