<div id="navbar-section">
  <nav class="navbar navbar-expand-lg">
    <%= link_to "Tix.Copy", root_url, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_url, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Add Event", new_event_url, class: "nav-link" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "View Events", events_url, class: "nav-link" %>
        </li>
      </ul>
      <%= render "layouts/authentication_buttons" %>
    </div>
  </nav>
</div>